/* ============================TAG SELECTORS================================ */
a:hover {
  color: white;
}

body {
  background-color: #F4FAF4;
  margin: 0;
}

img {
  border-radius: 100%;
  height: 180px;
}

h1 {
  color: #228B22;
}

h3 {
  color: #228B22;
}

hr {
  border: dotted #a9a9a9 6px;
  border-bottom: none;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 4%
}

/* ===========================CLASS SELECTORS=============================== */
/* TOP SECTION */
.contact {
  padding-left: 25px;
}

.profile-intro {
  background-color: #E2FAE2;
}

.web {
  text-decoration: none;
}

/* MIDDLE SECTION */
.daily-do {
  padding-left: 25px;
}

.hobbies {
  padding-left: 25px;
}
.work {
  padding-left: 25px;
}

.skills {
  padding-left: 25px;
}

/* BOTTOM SECTION */
.footer {
  background-color: #E2FAE2;
  padding: 50px;
  text-align: center;
  margin-top: 50px;
}

.copyright {
  padding-top: 20px;
  padding-bottom: 10px;
  color: white;
}

.links {
  color: #228B22;
  font-family: 'Montserrat', sans-serif;
  padding: 50px 20px;
  text-decoration: none;
}
